@import '../../config.scss';
@import '../../mixins.scss';

.import-wizard-sample-row {
    margin: 1em 0;

    & > label {
        display: grid;
        grid-template-columns: 4ex 1fr 1fr;
        padding: .5rem;
        border-bottom: $border-width solid $color-lt-gray;

        &:last-child {
            border-bottom: none;
        }
    }
}

.import-wizard-error-message {
    color: $color-white;
    padding: 1em;
    background-color: $color-error;
    @include rounded();
}