@import '../../config.scss';

.import-wizard-sample-row {
    margin: 1em 0;

    & > label {
        display: grid;
        grid-template-columns: 4ex 1fr 1fr;
        padding: .5rem;
        border-bottom: 0.5px solid $color-lt-gray;

        &:last-child {
            border-bottom: none;
        }
    }
}