@import '../../config.scss';
@import '../../mixins.scss';

.import-row-select {
    .import-row-select-rows {
        label {
            display: grid;
            grid-template-columns: 4rem 1fr 1fr;
            margin-bottom: 0.1rem;

            & > * {
                padding: $table-padding;
            }

            &.import-row-select-selected-row {
                @include highlight();
                @include rounded();
            }
        }

        &.import-row-select-rows-with-formatter {
            label {
                grid-template-columns: 4rem 1fr 1fr 1fr;
            }
        }
    }
}
