@import '../mixins.scss';
@import '../config.scss';

#app {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: grid;
    grid-template-rows: $header-height 1fr;
    grid-template-columns: $sidebar-width 1fr;
}

#header {
    $icon-size: 2.25rem;
    $h-padding: 1rem;

    position: relative;
    grid-column: 1/span 2;
    background-color: #fbfbfb;
    line-height: $header-height;
    padding: 0 $h-padding 0 ($h-padding + $icon-size);
    font-weight: 400;
    @include shadow();

    .envelope-icon {
        $icon-padding: 0.4rem;
        $inner-icon-size: $icon-size - ($icon-padding * 2);

        position: absolute;
        top: ($header-height - $icon-size) / 2;
        left: $h-padding;

        display: inline-block;
        width: $inner-icon-size;
        height: $inner-icon-size;
        padding: $icon-padding;
        
        border-radius: 50%;
        // background-image: linear-gradient(to bottom, #53cdbfd1, #dcfea0cc);
        background-color: $color-lt-gray;
        
        svg {
            position: absolute;
            top: $icon-padding;
            left: $icon-padding;
            width: $inner-icon-size;
            height: $inner-icon-size;
    
            * {
                fill: $color-text;
            }
        }
    }

    .header-text {
        margin-left: .5rem;
    }
}

#main {
    overflow-y: auto;
    overflow-x: hidden;
}