@import '../mixins.scss';
@import '../config.scss';

.box {
  background-color: $color-white;
  margin: 1.5rem;
  padding: 1rem;
  overflow-x: auto;
  @include rounded();
  @include shadow();

  &.box-success {
    background-color: $color-success;
    color: $color-white;
  }
}

.box-heading {
  font-weight: 400;
  margin: 0 -1rem 1rem;
  padding: 0 1rem 1rem;
  border-bottom: .25px solid $color-lt-gray;
}