@import '../mixins.scss';
@import '../config.scss';

.box {
  background-color: $color-white;
  margin: $fat-margin;
  padding: $fat-padding;
  overflow-x: auto;
  @include rounded();
  @include shadow();
}

.box-heading {
  font-weight: 400;
  margin: 0 (-$fat-padding) $fat-padding;
  padding: 0 $fat-padding $fat-padding;
  border-bottom: $border-width solid $color-lt-gray;
}