@import '../config.scss';
@import '../mixins.scss';

.data-table {
    &.data-table-select-enabled {
        td {
            padding: 0;

            label {
                display: block;
                padding: $table-padding;
            }

            &:first-child label {
                padding-right: 0;
            }
        }
    }
    
    .data-table-row-selected {
        @include highlight();
    }
}