.form-component {
    label {
        display: grid;
        grid-template-columns: minmax(24ex, 1fr) 2fr;
        margin-bottom: .25em;

        &.form-invalid-field {
            color: #e92d2d;
            background-color: #ffebeb;
            font-weight: 500;
        }
    }

    .form-footer {
        text-align: right;
    }

    .form-component-input-label {
        display: block;
        line-height: 2em;
    }
}