@import '../mixins.scss';
@import '../config.scss';

#sidebar {
    $h-pad: .75rem;
    $v-margin: 1rem;

    background-image: $sidebar-bg-image;
    padding: 1rem;

    .app-icon {
        $icon-size: 2.5rem;

        position: relative;
        display: block;
        min-width: $icon-size;
        height: $icon-size;
        padding: 0 $h-pad;
        margin: $v-margin 0;
        
        svg {
            display: inline-block;
            width: $icon-size;
            height: $icon-size;
    
            * {
                fill: $color-white;
            }
        }
    }

    .sidebar-nav-header {
        font-weight: 500;
        font-size: 0.75em;
        text-transform: uppercase;
        color: #fff;
        line-height: 2.5rem;
    }

    .sidebar-nav {
        list-style-type: none;
        margin: 0 0 $v-margin 0;
        padding: 0;
        user-select: none;

        li {
            display: block;
            line-height: 2rem;
            padding: 0 $h-pad;
            margin-bottom: .25rem;
            font-size: 0.9em;
            color: $sidebar-text-color;
            @include rounded();

            &:hover {
                background-color: $sidebar-nav-hover-bg-color;
            }

            &.sidebar-nav-link-active {
                font-weight: 400;
                background-color: $sidebar-nav-hover-bg-color;
            }

            i {
                float: right;
                line-height: 2rem;
                font-size: 1rem;
                @include shake();
            }
        }
    }
}