$header-height: 3rem;
$sidebar-width: 220px;

$table-padding: .5rem;

$color-success: #3ac47d;
$color-error: #d54343;
$color-white: #fff;

$color-highlight-fg: #3f6ad8;
$color-highlight-bg: #e0f3ff;

$color-lt-gray: #e5e5e5;
$color-off-white: #f1f4f6;
$color-dark-gray: #495057;
// $color-table-border: #d3d3d3;