$color-lt-gray: #e5e5e5;
$color-off-white: #f1f4f6;
$color-med-gray: #d8d8d8;
$color-dark-gray: #495057;

$color-success: #3ac47d;
$color-error: #d54343;
$color-white: #fff;

$color-highlight-fg: #2b53ba;
$color-highlight-bg: #e0f3ff;

$color-border: #d3d3d3;

$color-text: $color-dark-gray;
$color-body-bg: $color-off-white;

$fat-margin: 1.5rem;
$fat-padding: 1rem;

$header-height: 3rem;
$sidebar-width: 220px;

$table-padding: .5rem;

$border-width: 1px;

$sidebar-bg-image: linear-gradient(to bottom, #29c4b2, #abe04f);
$sidebar-text-color: $color-white;
$sidebar-nav-hover-bg-color: rgba(255, 255, 255, 0.25);