$header-height: 3rem;
$sidebar-width: 220px;

$color-success: #3ac47d;
$color-error: #e92d2d;
$color-white: #fff;

$color-lt-gray: #e5e5e5;
$color-off-white: #f1f4f6;
$color-dark-gray: #495057;
// $color-table-border: #d3d3d3;