@import './mixins.scss';
@import './config.scss';

.hide.hide.hide {
  display: none;
}

.color-success {
  color: $color-success;
}

.color-error {
  color: $color-error;
}

.color-warn {
  color: $color-warn;
}