@import './config.scss';

@mixin shadow {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03),
    0 0.9375rem 1.40625rem rgba(4,9,20,0.03),
    0 0.25rem 0.53125rem rgba(4,9,20,0.05),
    0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}

@mixin rounded {
  border-radius: .25rem;
}

@mixin circle-icon($size) {
  font-size: $size;
  line-height: $size;
  width: $size;
  padding: ($size / 4);
  border-radius: 50%;
  vertical-align: middle;
}

@mixin big-circle-icon {
  @include circle-icon(2rem);
}

@mixin small-circle-icon {
  @include circle-icon(1.5rem);
}

@mixin highlight {
  color: $color-highlight-fg;
  background-color: $color-highlight-bg;
}

@mixin table-heading {
  font-weight: 400;
  font-size: .8em;
  text-transform: uppercase;
}

@mixin table-heading-row {
  @include table-heading();
  border-bottom: .5px solid $color-lt-gray;
  vertical-align: bottom;
}

@mixin table-cell {
  text-align: left;
  padding: $table-padding;
  border: 0 none;
}

@mixin grid-split($cols) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  80% { transform: rotate(0deg); }
  85% { transform: rotate(10deg); }
  95% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

@mixin wiggle {
  animation: wiggle 2s infinite;
}

@keyframes shake {
  50%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  55%, 85% {
    transform: translate3d(2px, 0, 0);
  }
  60%, 70%, 80% {
    transform: translate3d(-4px, 0, 0);
  }
  65%, 75% {
    transform: translate3d(4px, 0, 0);
  }
  45%, 95% {
    transform: translate3d(0, 0, 0);
  }
}

@mixin shake {
  animation: shake 1.64s cubic-bezier(.36,.07,.19,.97) 2 both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}