@import './reset.css';
@import './mixins.scss';

$notosans-fontface-path: './fonts';
@import "notosans-fontface/scss/notosans-fontface-allweight.scss";

html, body {
  background-color: #f1f4f6;
  color: #495057;
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  margin: 1rem 0;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

th, td {
  text-align: left;
  padding: .5rem;
  border: .5px solid #d3d3d3;
}

th {
  font-weight: 400;
}