@import './reset.css';
@import './mixins.scss';
@import './config.scss';

$font-path: './fonts';

$notosans-fontface-path: $font-path;
@import "notosans-fontface/scss/notosans-fontface-allweight.scss";

$pe-7s-font-path: $font-path;
@import "node_modules/pe7-icon/dist/scss/pe-icon-7-stroke";

html, body {
  background-color: $color-body-bg;
  color: $color-text;
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  margin: 1rem 0;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  th, td {
    @include table-cell();
  }
  
  th {
    @include table-heading();
  }

  thead {
    th, td {
      @include table-heading-row();
    }
  }
}

input, 
button, 
textarea, 
select, 
option {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: inherit;
  
  border: .5px solid;
}

strong {
  font-weight: 500;
}

h3 {
  font-size: 1.1em;
  margin-bottom: 1em;
}

p {
  margin: .8em 0;
}

table.offset-table {
  $horizontal-margin: 2rem;
  margin: 2rem $horizontal-margin;
  width: calc(100% - #{$horizontal-margin * 2});
  border: 1px solid $color-lt-gray;
}

.hide.hide.hide {
  display: none;
}

.btn {
  cursor: pointer;
  border: .5px solid;
  display: inline-block;
  padding: .5em .75em;
  color: #3c3c3d;
  background-color: transparent;
  border-color: #6c757d;
  user-select: none;
  
  @include rounded();
  
  &:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
  }
}