@import './reset.css';
@import './mixins.scss';

$font-path: './fonts';

$notosans-fontface-path: $font-path;
@import "notosans-fontface/scss/notosans-fontface-allweight.scss";

$pe-7s-font-path: $font-path;
@import "node_modules/pe7-icon/dist/scss/pe-icon-7-stroke";

html, body {
  background-color: #f1f4f6;
  color: #495057;
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  margin: 1rem 0;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

th, td {
  text-align: left;
  padding: .5rem;
  border: .5px solid #d3d3d3;
}

th {
  font-weight: 400;
}

.btn {
  cursor: pointer;
  border: .5px solid;
  display: inline-block;
  padding: .5em .75em;
  color: #3c3c3d;
  background-color: transparent;
  border-color: #6c757d;
  @include rounded();
  
  &:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
  }
}